<?php
$servidor = "localhost"; 
$usuario = "username"; 
$senha = "password"; 
$banco = "databasename"; 

$urlIntro="http://www.seudominio.com.br/Intro.mp4";
$urlFunction="http://www.seudominio.com.br/player/function.php";
$urlLog="http://www.seudominio.com.br/player/log.php";
?>